
// margin to be line height
// modular VR

// https://www.codementor.io/ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g
// https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm

* 
    font-kerning: normal; // enables kerning

// Poppins:200, 300,300i,400,500

// font goal is ~15
$baseVR: calc((11px + 1vw) * 1.2)

// normal 
*, body, h4, p {
    line-height: $baseVR
    margin-bottom: 0;
}

// huge
h1 3
    line-height: $baseVR
    margin-bottom: 0;
    margin-bottom: 

h2 2

h3 1.5

// see normal

//smaller 

// .8 12
h5  

//.65 10
h6 


// other

//button
