// modular() VR
// https://www.codementor.io/ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g
// https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm

* 
    font-kerning: normal; // enables kerning
    margin: 0;
    padding: 0;

//loadFonts(['Open+Sans:300,300i,400,400i', 'PT+Serif:400,700i'])

// font goal is ~15px * line margin
$baseVR: calc((14px + .2vh) * 1.5)

// normal 
*, body, h5, p 
    line-height: $baseVR
    font-size:   calc(#{$baseVR} * .65)
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif
    font-weight: 300;

// large /////////////////////
h1 // 4
    line-height: calc(#{$baseVR} * 5)
    font-size:   calc(#{$baseVR} * 5 * .9 )
    margin-bottom: $baseVR
    font-family: 'PT Serif', serif
    font-weight: 700;
    font-style: italic

h2 // 3
    line-height: calc(#{$baseVR} * 3)
    font-size:   calc(#{$baseVR} * 3 )
    margin-bottom: $baseVR
    font-family: 'PT Serif', serif
    font-weight: 400;

h3 // 2
    line-height: calc(#{$baseVR} * 2)
    font-size:   calc(#{$baseVR} * 2 )
    margin-bottom: $baseVR
    font-family: 'PT Serif', serif
    font-weight: 400;

h4 // 2, 1.5
    line-height: calc(#{$baseVR} * 2)
    font-size:   calc(#{$baseVR} * 1.25 )
    margin-bottom: $baseVR
    font-weight: 400;
    font-style: italic

// see normal

//smaller 
//1 .68
h6 
    line-height: $baseVR
    font-size: calc(#{$baseVR} * .68 * .7)
    font-style: italic


// other
//button

body
    margin-left: 5px