.navBar{display:flex;background-color:black;position:absolute;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%;margin-top:-.5rem;margin-left:-.5rem;}
.nav{display:flex;color:white;}
.hamBurger:checked + .nav{flex-direction:column;}
.nav-item{margin-left:1rem;}
.nav-sub-item{display:none;}
.nav-item:hover .nav-sub-item{display:block;}
.hamBurger{visibility:hidden;}
.hamBurger::before{content:"\2630";visibility:visible;color:white;}
.hamBurger:checked::before{content:"\2715";visibility:visible;color:white;}
.hamBurger:checked ~ .nav:hover .nav-sub-item{margin-left:30px;margin-right:1rem;} /* mB v8.2.9 on 2020-03-03T17:21:57.508Z */