br
h3.fGara Team
style.
   .item {
            width: 260px;
            margin: 5px;
            min-height: 610px;
         }

.flex

   .card.item
      br
      .card-image
         figure.image.is-128x128
            img.is-rounded(src='/team/marietta.jpg')
      .card-content
         .media
            .media-content
               p.title.is-4.fGara Marietta Moshiashvili
               a.subtitle.is-6.is-italic mmoshiashvili@ubaycap.com
         .content
            include:marked marietta.md


   .card.item
      br
      .card-image
         figure.image.is-128x128
            img.is-rounded(src='/team/mario.jpg')
      .card-content
         .media
            .media-content
               p.title.is-4.fGara Mario Maselli
               a.subtitle.is-6.is-italic mmaselli@ubaycap.com
         .content
            include:marked mario.md


   .card.item
      br
      .card-image
         figure.image.is-128x128
            img.is-rounded(src='/team/kanan.jpg')
      .card-content
         .media
            .media-content
               p.title.is-4.fGara Kanan Joshi
               a.subtitle.is-6.is-italic kjoshi @ubaycap.com
         .content
            include:marked kanan.md


   .card.item
      br
      .card-image
         figure.image.is-128x128
            img.is-rounded(src='/team/robert.jpg')
      .card-content
         .media
            .media-content
               p.title.is-4.fGara Robert DiCostanzo
               a.subtitle.is-6.is-italic rdicostanzo@ubaycap.com
         .content
            include:marked robert.md


   .card.item
      br
      .card-image
         figure.image.is-128x128
            img.is-rounded(src='/team/leigh.jpg')
      .card-content
         .media
            .media-content
               p.title.is-4.fGara Leigh Seidman
               a.subtitle.is-6.is-italic lseidman@ubaycap.com
         .content
            include:marked leigh.md
