doctype html
html
   head
      script(src='https://cdn.jsdelivr.net/npm/gmetrics-intu@0.11.21/webApp/lib/gmetrics.min.js')

      include /includes/headFrag
      include /includes/head
      block head
   body.delayShowing
      #router
         a.btn.btn-primary.d-inline-block.btn-enter(href='/screen/overview', id="enter-site") Learn More
         .l-wrapper-split
            block main
      #routerFx
