block variables
   -var header_class = ''
doctype html
html
   head
      script(src='https://cdn.jsdelivr.net/npm/gmetrics-intu@0.11.21/webApp/lib/gmetrics.min.js')

      include /includes/headFrag
      include /includes/head
      block head
   body.delayShowing
      #router.router
         include /includes/top-nav
         +top-nav(header_class)
         .l-wrapper
            block main
            include /includes/footer
      #routerFx
