extends /layout/layout-landing
//- App Shell
block head
block main
   .left
      div.bottom-quote
         q Your partner in building modern web application 10x quicker, 10x cheaper
         p.who - Victor  Cekvenich
   .right
      div
         h1  We partner with you to build the future of software now
         div.logo MetaBake.net
