<!doctype html>
html
   head
      include headFrag
      link(rel='stylesheet', href='./css/bootstrapTop.css')

   body

   .container
   .row
      .col-sm
         | One of three columns
      .col-sm
         | One of three columns
      .col-sm
         | One of three columns
      
      script.
         depp.define({'style':'css/bootstrap.css'})
         depp.require(['bs', 'FontsLoaded'], function() {
            console.log('xxx1')
            depp.require('style')

         }) 
 
