
.section1.section
	.cont
		H2 If you remember one thing:
		img(src='0lowcode.png')
		H1 .js is procedural. HTML DOM is declarative.

.section2.section
	.cont
		H2 Instant SEO feedback service.
		img(src='1public_seo.png')

.section3.section
	.cont
		H3  WebMaster tools
		img(src='2CS.png')

.section4.section
	.cont
		H3  WebMaster tools
		img(src='2links.png')

// /////////////////////////////
.section1.section
	.cont
		H2 *Low-code*!!
		img(src='4browserAuth.png')

.section2.section
	.cont
		H2 Optional: 'Private Search' API
		img(src='4fts2.png')

.section3.section
	.cont
		H2 When using CDN for assets
		img(src='6loadjs.png')
		H3 And needed for samples apps - the only .js needed.

