//-------------------------------------------------------------------
// Variable Library
//
// The purpose of the variable library is to have a centralized
// location for various reusable values for the Min Framework.
//
//-------------------------------------------------------------------
// loadFonts(['Open+Sans:300,300i,400', 'PT+Serif:400,700i'])

//-------------------------------------------------------------------
// Button Colors
//-------------------------------------------------------------------

$a--bg:           #0ae;
$a--hover:        #09d;
$a--active:       #08b;

$b--bg:           #3c5;
$b--hover:        #2b4;
$b--active:       #2a4;

$c--bg:           #d33;
$c--hover:        #c22;
$c--active:       #b22;

//-------------------------------------------------------------------
// font-size: calc(#{$baseVR} * .78 );
// font-size: calc(#{$baseVR} * .65);

// Dark Colors
$c-black:         #000 !default;
$c-off-black:     #999 !default;
$c-darker:        #888 !default;
$c-dark:          #777 !default;


// Medium Colors
$c-grey-dark:     #aaa !default;
$c-grey:          #ccc !default;
$c-grey-light:    #eee !default;

// Light Colors
$c-white:         #fff !default;


// Inputs
$c-focus:         #5ab !default;

// shared large text size
%txt-large {
    line-height: $baseVR;
    font-size:   calc(#{$baseVR} * .78 );
    font-weight: 400;
}

// shared smaller text size
%shared-font-size {
    line-height: $baseVR;
    font-size: calc(#{$baseVR} * .65);
    font-weight: 300;
}
