

// font goal is ~15px * line height
$baseVR: calc((14px + .2vmin ) * 1.4);


@import '../normalize';

* { margin: 0; padding: 0; }

html, body { 
    height: 100%; 
    width: 100%; 
}

*, html, body {
    line-height: $baseVR;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    font-smooth: antialiased;
    font-kerning: normal; // enables kerning
    user-select:none;
}

// font-size: calc(#{$baseVR} * .78 );
// font-size: calc(#{$baseVR} * .65);

// ------------------------------------------------------------------
//  Core Styles of Min
// ------------------------------------------------------------------
@import '__var-lib.scss',
        'general.scss';

// ------------------------------------------------------------------
//  Customize Optional Components

$import-buttons:            true !default;
$import-forms:              true !default;
$import-navbar:             true !default;
$import-tables:             true !default;
$import-messages:           true !default;
$import-icons:              false !default;
$import-grid:               true !default;
$import-messages:           true !default;


@import 'button',
        'grid',
        'icons',
        'forms',
        'navbar',
        'table',
        'messages';

// /////////////////////////////////////

@import '../mvr';

@import '../gridforms';

@import '../split';
@import '../med';


//  ////////////////

pre, code {
    font-family: monospace, monospace; 
    background: hsl(220, 80%, 90%); 
    padding-left: 5px;
}

.CodeMirror, .CodeMirror * {
    font-family: monospace, monospace; 
}

//  ////////////////

hr {
    color: black;
    border: 1px solid;
}