extends /layout/layout
//- App Shell

block main
   style.
      #topMenu {
         position: fixed;
         top: 0;
         right: 0;
         overflow: hidden;
         width: 100%;
         z-index: 20;
      }
      #fullPage {
         maargin-top: -3rem;
         zz-index: -1;
      }
      .section {
         background-size: cover;
         background-attachment: fixed;
         height: 100vh;

         display: flex;
         justify-content: center;
         align-items: flex-end;
      }

   #fullPage
      include sections

   script.
      window.onbeforeunload = function () {
         window.scrollTo(0, 0);
      }
      let lastEl
      SECobserver = new IntersectionObserver(function(entries ){
         entries.forEach(function(e) {
            if (e.intersectionRatio > 0.5) {
               if(lastEl == e.target) return
               console.log('IN', e.target, e.intersectionRatio)
               lastEl = e.target
               zenscroll.stop()
               zenscroll.to(e.target)
            } //else console.log(e.target, 'OUT of the view')
         })//for each
      }, {  threshold: [0.51, 0.55 ] })//*() observer event
      const secs = document.querySelectorAll('.section')

      loadjs.ready('style', function(){//start
         console.log('setup zen')
         zenscroll.setup(920, 0)
         secs.forEach(function(sec) {
            SECobserver.observe(sec)
         })
      })

   //link(href= ROOT + '/assets/css/debug.css', rel='stylesheet')
