extends /layout/layout
//- App Shell

block main
   style.

      #f1ullPage {
         margin-top: -3rem;
         z-index: -1;
      }
      .section {
         background-size: cover;
         background-attachment: fixed;
         height: 100vh;

         display: flex;
         justify-content: center;
         align-items: flex-end;
      }

   #fullPage
      include sections

   script.

      let lastEl
      SECobserver = new IntersectionObserver(function(entries ){
         entries.forEach(function(e) {
            if (e.intersectionRatio > 0.5) {
               console.log('IN', e.target, e.intersectionRatio)
               if(lastEl == e.target) return
               lastEl = e.target
               zenscroll.to(e.target, 900)
            } //else console.log(e.target, 'OUT of the view')
         })//for each
      }, {  threshold: [0.31, 0.41, 0.51, 0.61 ] })//*() observer event
      const secs = document.querySelectorAll('.section')

      loadjs.ready('style', function(){//start
         console.log('setup zen')
         secs.forEach(function(sec) {
            SECobserver.observe(sec)
         })
      })

   //link(href= ROOT + '/assets/css/debug.css', rel='stylesheet')
