extends /layout/layout
//- App Shell

block main
   style.
       * {
         color: white ;
      }
      #fullPage {
         margin-top: -3rem;
         z-index: -1;
      }
      .section {
         background-size: cover;
         background-attachment: fixed;

         display: flex;
         justify-content: center;
         align-items: flex-end;
      }

   #fullPage
      include sections

   //link(href= ROOT + '/assets/css/debug.css', rel='stylesheet')
