extends /layout/layout
//- App Shell

block main
   style.
      #topMenu {
         position: fixed;
         top: 0;
         right: 0;
         overflow: hidden;
         width: 100%;
         z-index: 20;

         background: rgba(0, 0, 0, 0.5);
      }
      .section {
         background-attachment: scroll;
         min-height: 100vh;

         background-position: center center;
         background-repeat: no-repeat;
         background-size: 960px 540px;
         background-size: cover;

         display: flex;
         justify-content: center;
         align-items: center;
      }

   #fullPage.content
      include sections

   script.
      window.onbeforeunload = function () {
         window.scrollTo(0, 0);
      }
      let lastEl
      SECobserver = new IntersectionObserver(function(entries ){
         entries.forEach(function(e) {
            if (e.intersectionRatio > 0.5) {
               if(lastEl == e.target) return
               console.log('IN', e.target, e.intersectionRatio)
               lastEl = e.target
               zenscroll.stop()
               zenscroll.to(e.target)
            } //else console.log(e.target, 'OUT of the view')
         })//for each
      }, {  threshold: [0.51, 0.55 ] })//*() observer event
      const secs = document.querySelectorAll('.section')

      loadjs.ready('style', function(){//start
         if (!is.desktop()) { // mobile browser bar resize
            const viewportHeight = $('.section').outerHeight()
            console.log(viewportHeight)
            $('.section').css({ 'min-height': viewportHeight })
         }

         console.log('setup zen')
         zenscroll.setup(920, 0)
         secs.forEach(function(sec) {
            SECobserver.observe(sec)
         })
      })

   //link(href= ROOT + '/assets/css/debug.css', rel='stylesheet')
