script(src= '/assets/js/lorem.js')

style.
   .section1 {
      background-image: url(/assets/images/01.jpg);
   }
   .section2 {
      background-image: url(/assets/images/02.jpg);
   }
   .section3 {
      background-image: url(/assets/images/03.jpg);
   }
   .section4 {
      background-image: url(/assets/images/04.jpg);
   }
   .section5 {
      background-image: url(/assets/images/05.jpg);
   }


.section.section1
   br
   .pad.has-text-white
      p Oh hi1
      div(data-lorem='2p')


.section
   br
   .pad
      include two

.section.section2
   br
   .pad.has-text-white
      p Oh hi2
      div(data-lorem='2p')


.section.section3
   br
   .pad.has-text-white
      p Oh hi3
      div(data-lorem='2p')


.section.section4
   br
   .pad.has-text-white
      p Oh hi4
      div(data-lorem='2p')


.section.section5
   br
   .pad.has-text-white
      p Oh hi5
      div(data-lorem='2p')

