.navBar{display:flex;background-color:lightgray;}
.nav{display:flex;}
input[type=checkbox]:checked + .nav{flex-direction:column;}
.nav-item{margin-left:1rem;}
.nav-sub-item{display:none;}
.nav-item:hover .nav-sub-item{display:block;}
input[type=checkbox]{content:"\2630";} /* mB v8.2.9 on 2020-03-01T18:45:59.027Z */