.navBar{display:flex;background-color:lightgray;}
.nav{display:flex;}
.hamBurger:checked + .nav{flex-direction:column;}
.nav-item{margin-left:1rem;}
.nav-sub-item{display:none;}
.nav-item:hover .nav-sub-item{display:block;}
.hamBurger{visibility:hidden;}
.hamBurger::before{content:"\2630";visibility:visible;}
.hamBurger:checked::before{content:"\2715";visibility:visible;} /* mB v8.2.9 on 2020-03-01T22:24:30.181Z */