extends ../../layout.pug
block container
  .container__landing
      section
        .homeSection
          div
            h1 Test Site
            h3 A website for testing
            .btn-group
                .btn.btn-d Try it Out
                .btn.btn-d Example Link
          img(src="", data-src="holder.js/300x200?theme=placeholder" alt="landing image")
      section
        .features
            .feature
              img(src="",data-src="holder.js/100x100?theme=placeholder", alt="")
              h4 Feature One
              p This is the content of the feature
            .feature
              img(src="", data-src="holder.js/100x100?theme=placeholder", alt="")
              h4 Feature One
              p This is the content of the feature
      section.center
        h3 Feature Callout
        p Theses are features of this projects
