extends ../../layout.pug
block container
  .container__landing
      section
        .homeSection
          div
            h1 Write your own title here
            h3 and add some subheader
            .btn-group
                .btn.btn-d Try it Out
                .btn.btn-d Example Link
          img(src="", data-src="holder.js/300x200?theme=placeholder" alt="landing image")
      section
        .features
            .feature
              img(src="",data-src="holder.js/100x100?theme=placeholder", alt="")
              h4 Feature One
              p This is the content of the feature
            .feature
              img(src="", data-src="holder.js/100x100?theme=placeholder", alt="")
              h4 Feature Two
              p This is the content of the feature
            .feature
              img(src="", data-src="holder.js/100x100?theme=placeholder", alt="")
              h4 Feature Three
              p This is the content of the feature
        .callOut
          h2 Feature Callout
          p Theses are features of this projects
      section.imgToRight
        div.imgToRight__content
          div
            h3 Son sure paid door with say them
            p In friendship diminution instrument so. Son sure paid door with say them. Two among sir sorry men court. Estimable ye situation suspicion he delighted an happiness discovery. Fact are size cold why had part. If believing or sweetness otherwise in we forfeited. Tolerably an unwilling arranging of determine. Beyond rather sooner so if up wishes or. 
          img(src="", data-src="holder.js/300x200?theme=placeholder" alt="landing image")
      section.imgToLeft
        div.imgToLeft__content
          img(src="", data-src="holder.js/300x200?theme=placeholder" alt="landing image")
          div
            h3 Son sure paid door with say them
            p In friendship diminution instrument so. Son sure paid door with say them. Two among sir sorry men court. Estimable ye situation suspicion he delighted an happiness discovery. Fact are size cold why had part. If believing or sweetness otherwise in we forfeited. Tolerably an unwilling arranging of determine. Beyond rather sooner so if up wishes or. 
      section.imgToRight_2
        div.imgToRight_2__content
          div
            h3 Son sure paid door with say them
            p In friendship diminution instrument so. Son sure paid door with say them. Two among sir sorry men court. Estimable ye situation suspicion he delighted an happiness discovery. Fact are size cold why had part. If believing or sweetness otherwise in we forfeited. Tolerably an unwilling arranging of determine. Beyond rather sooner so if up wishes or. 
          img(src="", data-src="holder.js/300x200?theme=placeholder2" alt="landing image")
      section.bottomSection
        div.bottomSection__content
          h2 Son sure paid door with say them
          p In friendship diminution instrument so. Son sure paid door with say them.
          img(src="", data-src="holder.js/100x100?theme=placeholder", alt="")
          .btn.btn-d Try it Out



