doctype html
html
   head
      link(rel='stylesheet', href='normalize.css')
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Hello Bulma!
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css')
      script(defer='', src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')

      link(rel='stylesheet', href='styles/helpers.css')
      link(rel='stylesheet', href='styles/grid.css')
      
      style.
         /* background */
         .hero {
         background: black url(images/hero-1.jpg) center / cover;
         }
         @media (max-width: 1024px) { .hero { background: black url(images/hero-2.jpg) center / cover; } }
         @media (max-width:  768px) { .hero { background: black url(images/hero-3.jpg) center / cover; } }
         /* responsive */
         @media (max-width: 768px) {
         :root {
         font-size: 90%;
         }
         }
   body
      // .hero
      section.hero.is-fullheight
         // .hero-head
         nav.hero-head
            .columns.is-mobile.is-marginless.heading.has-text-weight-bold
               .column.left
                  figure.navbar-item.image
                     img(src='images/tesla.svg', style='width: 6.25rem; height: 1rem;')
               .column.center.desktop
                  p.navbar-item.has-text-black MODEL S
                  p.navbar-item.has-text-black MODEL X
                  p.navbar-item.has-text-black MODEL 3
                  p.navbar-item.has-text-white ROADSTER
                  p.navbar-item.has-text-black ENERGY
               .column.right
                  p.navbar-item.desktop.has-text-black.desktop SHOP
                  p.navbar-item.desktop.has-text-black.desktop SIGN IN
                  figure.navbar-item.image
                     i.fas.fa-3x.fa-bars.has-text-black(style='width: 1rem; height: 1rem;')
         // /.hero-head
         // .hero-body
         header.hero-body
            .is-overlay.has-text-centered.single-spaced(style='top: 92px;')
               h2.subtitle.is-4.has-text-weight-light.has-text-black Tesla
               h1.title.is-1.has-text-black Roadster
         // /.hero-body
         // .hero-foot
         main.hero-foot.center(style='padding: 2rem;')
            #grid(style='width: 768px;')
               #a.center-column
                  p.has-text-centered.has-text-white
                     | ​The quickest car in the world, with record-setting
                     br
                     | 				acceleration, range and performance.
               #b.center-column
                  p.title.has-text-white
                     i.fas.fa-tachometer-alt.has-text-grey-light(style='width: 0.75em; height: 0.75em;')
                     | 				1.9
                     span.is-size-5 s
                  p.subtitle.has-text-white.is-7 0-60 mph
               #c.center-column(style='border-left: 1px solid gray;')
                  p.title.has-text-white
                     span.is-size-5 +
                     | 250
                     span.is-size-5 mph
                  p.subtitle.is-7.has-text-white Top Speed
               #d.center-column(style='border-left: 1px solid gray;')
                  p.title.has-text-white
                     | 620
                     span.is-size-5 mi
                  p.subtitle.is-7.has-text-white Mile Range
               #e.center-column
                  a.button.is-danger.is-inverted.is-rounded.is-outlined.has-text-weight-bold(style='width: 100%; border: 0.15em solid white;')
                     | Reserve Now
         // /.hero-foot
      // /.hero
