
// navBar checkbox hamBurger unicode for AMP, no .js
.navBar {
  display: flex;
  background-color: lightgray;
}

.nav {
  display: flex;
}

.hamBurger:checked + .nav {
  flex-direction: column;
}

.nav-item {
  margin-left: 1rem;
}

.nav-sub-item {
  display:none;
}

.nav-item:hover .nav-sub-item { 
  display: block;
}

// mobi UI
.hamBurger {
  visibility: hidden;
}

.hamBurger::before {
  content: "\2630"; 
  visibility: visible;
}

.hamBurger:checked::before {
  content: "\2715";
  visibility: visible;
}
