head

    link(rel='stylesheet', href='/css/c.css')

body

    nav
        span Brand
        //- input(type="checkbox")
        a.nav-item(href="#") Nav Item 1
            a.nav-sub-item(href="#") Sub Nav Item 1
            a.nav-sub-item(href="#") Sub Nav Item 2
            a.nav-sub-item(href="#") Sub Nav Item 3
        a.nav-item(href="#") Nav Item 2
        a.nav-item(href="#") Nav Item 3
        a.nav-item(href="#") Nav Item 4
            a.nav-sub-item(href="#") Sub Nav Item 1
            a.nav-sub-item(href="#") Sub Nav Item 2
            a.nav-sub-item(href="#") Sub Nav Item 3


