head

    link(rel='stylesheet', href='/css/c.css')

body

    nav.bar
        span Brand
        //- input(type="checkbox")
        ul
            li 
                a(href="#") Nav Item 1
                ul.sub
                    li 
                        a(href="#") Sub Nav Item 1
                    li 
                        a(href="#") Sub Nav Item 2
                    li 
                        a(href="#") Sub Nav Item 3
            li 
                a(href="#") Nav Item 2
            li 
                a(href="#") Nav Item 3
            li 
                a(href="#") Nav Item 4
                ul.sub
                    li 
                        a(href="#") Sub Nav Item 4
                    li 
                        a(href="#") Sub Nav Item 5
                    li 
                        a(href="#") Sub Nav Item 6


