footer
   div.container.l-footer.grid-xl
      .columns
         .column.col-3.col-xs-6.col-mx-auto
            div.l-copyrights
               .copyright 
                  span &copy; 
                  | 2019 MetaBake
         .column.col-9.col-xs-6.col-mx-auto.text-right
            a.norouter(href="http://www.INTUITION.DEV", target="_blank").mr-2 Free stuff
