
.section3.section
	.cont
		include:marked INTRO.md

.section1.section
	.cont
		H3 About: helped develop MVC community in 2001
		img(src='00struts.png')

.section1.section
	.cont
		img(src='1book.png')
		H4 Prerequisites: J. Duckett book! A plus would be A. Grove or M. Lopp books

.section1.section
	.cont
		img(src='1.5mac_child.png')
		H4 Interesting productivity out there.

.section2.section
	.cont
		H3 I used to love for my devs to put ELK Stack on their bio.
		img(src='1elk.png')
		H2 Resume Driven development. Instead, would API make your project better?

.section3.section
	.cont
		H3 Extreme Server-less.
		img(src='2api.png')

// a jump w/o being confusing /////////////////////////////////////////////////////////
// also, the more I think about it, it is confusing. Like the blog that also is SPA.
// A build server should be later, let them be satisfied, this stands on it's own.
.section1.section
	.cont
		H3 Before serverless, we operated our own serer, like LAMP.
		img(src='XXX.png')

.section2.section
	.cont
		H3 Video demo / preview
		video(controls='', muted='', autoplay='')
			source(src='XXX.mp4', type='video/mp4')

// here we switch back to extereme serverless, the new approach ////////////////////////////////////////////////////////
.section4.section
	.cont
		H3 Deployment: a single command. Yes, Really!
		img(src='2zeit.png')

.section1.section
	.cont
		H4 No HTTP Server! Ex: S3. Or CDN.
		img(src='3ftp.png')

.section2.section
	.cont
		H3 Therefore: Statically generated!
		img(src='3static.png')

.section3.section
	.cont
		H3 What are you generating?
		img(src='4jade.png')
		H2 'Do you even Jade bro?' A google designer shows HTML self closing.

.section4.section
	.cont
		H3 v1 Jade. v2 Pug. Do you know of Node?
		img(src='5googlePug.png')
		H2 Express uses pug. WWW samples are pug

// /////////////////////////////////////////////////////////////
.section4.section
	.cont
		H2 CodePen uses Pug.
		img(src='6codepen.png')
		H2 Avoid HTML, use Pug

// Bake ////////////////////////////////////

.section1.section
	.cont
		H4 Build?
		img(src='7gulp.png')

.section2.section
	.cont
		H3 Social SEO?
		img(src='8soc.jpg')

.section3.section
	.cont
		H3 Some of this is repeated.
		img(src='9meta.png')
		H2 Scripted build via NPM!

.section3.section
	.cont
		H3 Need for (NPM) scripted build!
		img(src='10jstrans.png')
		H4 This is the nexus.

.section4.section
	.cont
		H2 Create a YAML file for repeated value.
		img(src='17dat.png')
		H3 And use a .js npm build script using latest API. Easier than proprietary.

//
.section1.section
	.cont
		H3 YAML lets you create Data about your page.
		img(src='18data.png')
		H2 IMPORTANT: LAMP minus M. 'There is no Spoon'

.section2.section
	.cont
		H2 A script based build that does Pug + YAML: npm -g i nbake
		img(src='19nbake.png')

.section3.section
	.cont
		H3 Example project (like Static Gen )
		img(src='20layout.png')

.section4.section
	.cont
		include:marked aMORE.md



