nav.navbar.navbar-expand-lg.navbar-light
   a.navbar-brand#brand(href='/') INTUITION.DEV
   button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText')
      span.navbar-toggler-icon

   #navbarText.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
         li.nav-item.active
            a.nav-link(href='/') Low-Code
         li.nav-item
            a.nav-link(href='/pg/features/') Features
         li.nav-item
            a.nav-link(href='http://intuition-dev.github.io/intuDocs', target="_blank") Docs
      
         // li.nav-item
            a.nav-link(href='/pg/examples') Examples

      
      a.navbar-text(href='//github.com/INTUITION-dev', target="_blank")
         h2.text-dark
            i.fa.fa-github