extends /layout/layout-landing
//- App Shell
block head
block main
   .left
      div.bottom-quote
         q Your partner in building modern web application 10x cheaper
         p.who - Victor  Cekvenich
   .right
      div
         h1 We partner with you!
         h3 We build web app's 10x cheaper
         p CMS's, E-Commerce, Static Sites, Blogs, Mobile
         div.logo MetaBake.net
