head
   meta(name='viewport', content='width=device-width, initial-scale=1')
   //script(src= ROOT + '/assets/js/setup.js')
   link(href= 'spectreOff.css', rel='stylesheet')
   link(href= 'exp.css', rel='stylesheet')

body
   header.navbar
      section.navbar-section.pad
         a.navbar-brand.mr-2(href='...') Spectre.css
         a.btn.btn-link(href='...') Docs
         a.btn.btn-link(href='...') GitHub
      section.navbar-section.pad
         a.btn.btn-link(href='...') Docs
         button.btn.btn-primary.input-group-btn Search
   br
   .pad
      p oh hi
