head
   include headFrag

body
   marq-custel#marq

   p
   hr
   a(href='http://real.metabake.net') Git source code

   script.
      console.log('ani')
      
      depp.require(['marq-custel','poly'], function(){ 
         console.log('ani')
         let t = document.getElementById('marq')

         t.addOne('1. Lorem ipsum dolor sit amet1', 'http://google.com')
         t.addOne('2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique efficitur diam ac consectetur2', 'http://google.com')
         t.addOne('3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique efficitur diam ac consectetur3', 'http://google.com')
         t.addOne('4. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique efficitur diam ac consectetur4', 'http://google.com')

      })


