doctype html
html
   head
      script(src='https://1490415816.rsc.cdn77.org/lib/gmetrics.js')

      include /includes/headFrag
      include /includes/head
      block head
   body.delayShowing
      #router
         a.btn.btn-primary.d-inline-block.btn-enter(href='/screen/overview', id="enter-site") Learn More
         .l-wrapper-split
            block main
      #routerFx
