extends /layout/layout
//- App Shell

block main
   style.
       * {
         color: white ;
      }
      .section {
         hqeight: 100vh;
         mqargin-top: -3rem;

         background-size: cover;
         background-attachment: fixed;

         display: flex;
         justify-content: center;
         align-items: center;
      }
      .section1 {
         background-image: url(/assets/images/01.jpg)
      }
      .section2 {
         background-image: url(/assets/images/02.jpg)
      }
      .section3 {
         background-image: url(/assets/images/03.jpg)
      }
      .section4 {
         background-image: url(/assets/images/04.jpg)
      }
      .section5 {
         background-image: url(/assets/images/05.jpg)
      }
      .section6 {
         background-image: url(/assets/images/06.jpg)
      }
   #fullPage
      .section.section1
         br
         .pad
            p Oh hi1

      .section.section2
         br
         .pad
            p Oh hi2

      .section.section3
         br
         .pad
            p Oh hi3

      .section.section4
         br
         .pad
            p Oh hi4

      .section.section5
         br
         .pad
            p Oh hi5

      .section.section6
         br
         .pad
            p Oh hi6



   //link(href= ROOT + '/assets/css/debug.css', rel='stylesheet')
