extends /layout/layout
//- App Shell

block main
   style.
      /* background */
      .hero1 {
         background: black url(/assets/images/10.jpg) center / cover;
         height: 100vh;
         margin-top: -3rem;
      }

   .hero1
      br
      .pad
         p Oh hi


   //link(href= ROOT + '/assets/css/debug.css', rel='stylesheet')
