head
   meta(name='viewport', content='width=device-width, initial-scale=1')
   link(href= 'css/mini-default.css', rel='stylesheet')
body
   .container
      .row
         .col-sm-1 OK
         .col-sm-11 OK
      .row
         .col-sm-6 OK
         .col-sm-6 OK
      .row
         .col-sm-12 OK
      .row
         .col-sm OK
         .col-sm OK
