

.white, .white * { color: white !important; }

.padL {
   padding-left: 15px;
}


/*
   Nav:
   ul.navJBar { margin:0 }
*/
/* level 1 */
.navJBar li > a {
   color: white;
   text-decoration: none;
   background: transparent;
   font-size: 17px;
}
ul.navJBar li {
   list-style-type: none;
}
ul.navJBar a:hover {
   background: #0F3557;
   color: white;
}
/* level 2 */
.navJBar li li a {
   color: black !important;
   background: white;
   font-size: 16px;
}
.navJBar li li a:hover {
   background: #0F3557;
   color: white;
}
ul {
   padding: 0;
}
/* End Nav
*/


.mainBack {
   background-attachment: scroll;
   min-height: 45vh;

   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.bord { /* icons & bars */
   outline-style: solid;
   outline-offset: 7px;
   outline-width: thin;
   margin-right: 25px;
   margin-left: 25px ;
}
.feather {
   width: 24px;
   height: 24px;
   stroke: currentColor;
   stroke-width: 2;
   stroke-linecap: round;
   stroke-linejoin: round;
   fill: none;
 }

