head
   meta(name='viewport', content='width=device-width, initial-scale=1')

   link(href= '/spectreBar/spectreBar.css', rel='stylesheet')

   script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')

body
   link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
   link(href='https://fonts.googleapis.com/css?family=Playfair+Display', rel='stylesheet')

   style.
      .mainBack {
         background-image: url(img.jpg);
      }
   .mainBack

      include navJbar

      br
      .padL.white oh hi 1

   br
   .padL oh hi 2
