
link(href= 'navJBar.css', rel='stylesheet')
link(href= 'ex.css',  rel='stylesheet')

script(src='/minifill.min.js')
script(src='navJBar.js')


header.flex.edge
   .left.white
      .navbar-brand.mr-2.padL
         h1 Metabake.org
   .right.white
      ul.hide-lg.navJBar(data-function='navJBar')
         li.navFirst
            a(href='#') ABOUT
            ul
               li
                  a(href='#') About Us
               li
                  a(href='#') Services
               li
                  a(href='#') Career

         li
            a(href='#') TEAM
         li
            a(href='#') BLOG
         li
            a(href='#') CONTACT US
         li
            a(href='#') CLIENT LOGIN

      .white
         svg.bord.feather(viewBox='0 0 24 24')
            line(x1='3', y1='12', x2='21', y2='12')
            line(x1='3', y1='6',  x2='21', y2='6')
            line(x1='3', y1='18', x2='21', y2='18')

script.
   new Navbar('.navJBar')

//link(href= 'debug.css', rel='stylesheet')
