
link(href= 'navJBar.css', rel='stylesheet')
link(href= 'ex.css',  rel='stylesheet')

script(src='/minifill.min.js')
script(src='https://cdn.jsdelivr.net/npm/navbar.js@1.0.7/navbar.min.js')


header.navbar.white
   section.navbar-section
      a.navbar-brand.mr-2(href='...') Metabake.org
   section.navbar-section
      ul.navJBar(data-function='navbar')
         li
            a(href='#') Item 3
            ul
               li
                  a(href='#') Item 3/1
               li
                  a(href='#') Item 3/2
         li
            a(href='#') Item 1
         li
            a(href='#') Item 2
      .white
         svg.bord.feather(viewBox='0 0 24 24')
            line(x1='3', y1='12', x2='21', y2='12')
            line(x1='3', y1='6',  x2='21', y2='6')
            line(x1='3', y1='18', x2='21', y2='18')

script.
   new Navbar('.navJBar')

//link(href= 'debug.css', rel='stylesheet')
