* {
   box-sizing: border-box;
}

body {
   background-color: #ffffff;
}

/* Docs Page */
.container__docs {
   padding: 50px 0 15px;
   display: grid;
   grid-template-columns: 180px 1fr 120px;
   grid-column-gap: 40px;
   font-family: 'Open Sans';
   @include maxWidth();

   h3,
   h4 {
      margin-bottom: 15px;
      position: relative;
   }

   & .anchor {
      opacity: 0;
      position: absolute;
      left: -25px;
      top: 0;
      display: block;
      transition: opacity 1s;

      &:hover {
         opacity: 1;
      }
   }
}

$catColor: #393939;
$catLink: #717171;

.content {
   width: 100%;
   display: grid;
}

/* Right sidebar for the docs page */
.sidebar {
   & ul {
      list-style: none;
      margin: 15px 0;
      padding: 0 0 0 15px;
      font-family: inherit;
   }

   &__categories {
      h3 {
         color: $catColor;
         font-family: inherit;
      }
   }
}

.pageNav {
   border-left: 1px solid #e0e0e0;
   padding-left: 10px;
   align-self: start;
   display: flex;
   flex-flow: column;

   align-self: flex-start;
   flex: 0 0 240px;
   max-height: calc(100vh - 20px);
   overflow-y: auto;
   position: sticky;
   top: 20px;

   & a {
      text-decoration: none;
      color: $catLink;

      &.active {
         color: #550d90;
      }
   }
}


pre {
   padding: 0;
   overflow-x: auto;

   code {
      padding: 15px;
      display: block;
      overflow: normal;
      white-space: pre;
   }
}

%section__content {
   @include maxWidth();

   display: grid;
   grid-template-columns: 1fr 500px;
   grid-column-gap: 50px;
   justify-items: center;
   align-items: center;
   text-align: center;

   &>div>* {
      margin: 2rem auto;
   }
}

/* Landing Page */
.container__landing {
   section {
      padding: 100px 0;

      & .btn-group {
         justify-content: center;
         padding: 3rem 0;
      }
   }

   & .homeSection {
      display: grid;
      grid-template-columns: auto 400px;
      grid-column-gap: 20px;
      align-items: center;

      &> :nth-child(1) {
         grid-column: 1;
         align-self: center;
         justify-self: center;
         text-align: center;
      }

      &> :nth-child(2) {
         grid-column: 2;
      }
   }

   & .features {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-column-gap: 100px;
      justify-content: space-around;
      @include maxWidth();
   }

   & .feature {
      text-align: center;

      &>* {
         margin: 1rem 0;
      }
   }

   & .callOut {
      text-align: center;
      margin-top: 100px;

      &>* {
         margin: 1rem 0;
      }
   }

   & .imgToRight {
      background: rgba(245, 230, 204, 0.4);

      &__content {
         @include maxWidth();

         grid-template-columns: 1fr 500px;
         @extend %section__content;

      }
   }

   & .imgToLeft {
      &__content {
         @include maxWidth();
         grid-template-columns: 500px 1fr;
         @extend %section__content;
      }
   }

   & .imgToRight_2 {
      background: #ffb48f;
      // color: #12b3ad;

      &__content {
         @include maxWidth();
         @extend %section__content;
      }
   }

   & .bottomSection {
      &__content {
         @include maxWidth();
         text-align: center;

         & img {
            display: block;
         }
      }

      &>div>* {
         margin: 1rem auto;
      }
   }

   h1 {
      margin-bottom: 1rem;
   }
}

.footer {
   background: $footerBgColog;
   padding: 2rem 0;
   color: white;

   &__content {
      @include maxWidth();
      display: grid;
      grid-template-columns: 150px repeat(3, 1fr);
   }

   &__links {
      & a {
         display: block;
         color: rgba(255, 255, 255, .5);
         text-decoration: none;
         padding: 3px 0;

         &:nth-child(1) {
            color: white;
            margin-bottom: 10px;

         }
      }
   }

   & .copyright {
      grid-column: 1/span 4;
      padding: 1.3rem 0;
      text-align: center;
      color: rgba(255, 255, 255, .5);
   }
}