head
   link(rel='stylesheet', href='css/spectreTop.css')

body
   //  https://github.com/tomcam/spectre-css-examples
   //- https://picturepan2.github.io/spectre/layout/responsive.html#responsive-container
   .container.grid-lg

      .columns
         .column.col-6 col-6
         .column.col-3 col-3
         .column.col-2 col-2
         .column.col-1 col-1

      .loading.loading-lg

      .divider
      .text-center
         img.img-fit-cover(src='osx.jpg')


   //link(rel='stylesheet', href='css/spectre.css' )
