head
    include headFrag

body
    link(rel='stylesheet', href='/assets/min.css')
    script(src='/assets/ui-loader.js')

    p  is simply dummy text ith the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    p
    br
    a.btn.btn-b.smooth btn-b
    a.btn.btn-b.smooth btn-b
    p
    br
    p
    a.btn.btn-b.btn-sm.smooth btn-sm
    a.btn.btn-b.btn-sm.smooth btn-sm

    p
    br
    hr

    h3 3can be used?
    h4 4 Vic Cekvenich
    p Yesterday I was blue about
    h6 and they said so what

    script.
        console.log('oh hi')
        toolBeltDefault()
        loadFonts(['Open+Sans:300,300i,400', 'PT+Serif:400,400i,700i'])

