script.

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
title MetaBake.org
link(rel='shortcut icon', href= ROOT + '/assets/favicon.png', type='image/x-icon')
script(src='https://cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.js')

script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
script(src= '/assets/js/lorem.js')
script(src= '/assets/js/setup.js')

link(href= '/assets/css/spectre.css', onload='cssLoaded()', rel='stylesheet')
link(href= '/assets/css/main.css', rel='stylesheet')
