
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Rock+Salt')


nav.columns.has-background-black.has-text-white.is-mobile.is-gapless
      .column.left
         .pad Your App

      .column.right
         a.is-hidden-mobile.navbar-item(href= '/screens/scrA') One
         a.is-hidden-mobile.navbar-item(href= '/screens/scrB') Two

style.

   body {
      background: url(/assets/images/bg-napkin.jpg);
   }

   *, body,
   h1, h2, h3,
   input[type="text"], input[type="password"], textarea,
   input.submit	{
      font-family: 'Rock Salt';
   }


   input[type="text"], .field {
      background: url(/assets/images/stripes-bg.png)  !important;
      border-style: dotted  !important;
      border-color: #777  !important;
   }

  input[type="submit"], button {
      background: url(/assets/images/stripes-bg2.png) !important;
      border-style: dotted !important;
      border-color: #888 !important;
   }
