html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article,aside,footer,header,nav,section{display:block;}
h1{font-size:2em;margin:0.67em 0;}
figcaption,figure,main{display:block;}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{outline-width:0;}
address{font-style:normal;}
b,strong{font-weight:inherit;}
b,strong{font-weight:bolder;}
code,kbd,pre,samp{font-family:"SF Mono","Segoe UI Mono","Roboto Mono",Menlo,Courier,monospace;font-size:1em;}
dfn{font-style:italic;}
small{font-size:80%;font-weight:400;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
audio,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
img{border-style:none;}
svg:not(:root){overflow:hidden;}
button,input,optgroup,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;margin:0;}
button,input{overflow:visible;}
button,select{text-transform:none;}
button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
fieldset{border:0;margin:0;padding:0;}
legend{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
progress{display:inline-block;vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"],[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details,menu{display:block;}
summary{display:list-item;outline:none;}
canvas{display:inline-block;}
template{display:none;}
[hidden]{display:none;}
*,*::before,*::after{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:20px;line-height:1.5;-webkit-tap-highlight-color:transparent;}
body{background:#fff;color:#3b4351;font-family:"Open Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;font-size:0.8rem;overflow-x:hidden;text-rendering:optimizeLegibility;}
a{color:#5755d9;outline:none;text-decoration:none;}
a:focus{-webkit-box-shadow:0 0 0 0.1rem rgba(87,85,217,0.2);-moz-box-shadow:0 0 0 0.1rem rgba(87,85,217,0.2);box-shadow:0 0 0 0.1rem rgba(87,85,217,0.2);}
a:focus,a:hover,a:active,a.active{color:#302ecd;text-decoration:underline;}
a:visited{color:#807fe2;}
.container{margin-left:auto;margin-right:auto;padding-left:0.4rem;padding-right:0.4rem;width:100%;}
.container.grid-xl{max-width:1296px;}
.container.grid-lg{max-width:976px;}
.container.grid-md{max-width:856px;}
.container.grid-sm{max-width:616px;}
.container.grid-xs{max-width:496px;}
.show-xs,.show-sm,.show-md,.show-lg,.show-xl{display:none !important;}
.columns{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-0.4rem;margin-right:-0.4rem;}
.columns.col-gapless{margin-left:0;margin-right:0;}
.columns.col-gapless > .column{padding-left:0;padding-right:0;}
.columns.col-oneline{-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;overflow-x:auto;}
.column{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-ms-flex:1;flex:1;max-width:100%;padding-left:0.4rem;padding-right:0.4rem;}
.column.col-12,.column.col-11,.column.col-10,.column.col-9,.column.col-8,.column.col-7,.column.col-6,.column.col-5,.column.col-4,.column.col-3,.column.col-2,.column.col-1,.column.col-auto{-webkit-box-flex:0;-webkit-flex:none;-moz-box-flex:0;-ms-flex:none;flex:none;}
.col-12{width:100%;}
.col-11{width:91.66666667%;}
.col-10{width:83.33333333%;}
.col-9{width:75%;}
.col-8{width:66.66666667%;}
.col-7{width:58.33333333%;}
.col-6{width:50%;}
.col-5{width:41.66666667%;}
.col-4{width:33.33333333%;}
.col-3{width:25%;}
.col-2{width:16.66666667%;}
.col-1{width:8.33333333%;}
.col-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;max-width:none;width:auto;}
.col-mx-auto{margin-left:auto;margin-right:auto;}
.col-ml-auto{margin-left:auto;}
.col-mr-auto{margin-right:auto;}
@media (max-width:1280px){.col-xl-12,.col-xl-11,.col-xl-10,.col-xl-9,.col-xl-8,.col-xl-7,.col-xl-6,.col-xl-5,.col-xl-4,.col-xl-3,.col-xl-2,.col-xl-1,.col-xl-auto{-webkit-box-flex:0;-webkit-flex:none;-moz-box-flex:0;-ms-flex:none;flex:none;}
 .col-xl-12{width:100%;}
 .col-xl-11{width:91.66666667%;}
 .col-xl-10{width:83.33333333%;}
 .col-xl-9{width:75%;}
 .col-xl-8{width:66.66666667%;}
 .col-xl-7{width:58.33333333%;}
 .col-xl-6{width:50%;}
 .col-xl-5{width:41.66666667%;}
 .col-xl-4{width:33.33333333%;}
 .col-xl-3{width:25%;}
 .col-xl-2{width:16.66666667%;}
 .col-xl-1{width:8.33333333%;}
 .col-xl-auto{width:auto;}
 .hide-xl{display:none !important;}
 .show-xl{display:block !important;}}
@media (max-width:960px){.col-lg-12,.col-lg-11,.col-lg-10,.col-lg-9,.col-lg-8,.col-lg-7,.col-lg-6,.col-lg-5,.col-lg-4,.col-lg-3,.col-lg-2,.col-lg-1,.col-lg-auto{-webkit-box-flex:0;-webkit-flex:none;-moz-box-flex:0;-ms-flex:none;flex:none;}
 .col-lg-12{width:100%;}
 .col-lg-11{width:91.66666667%;}
 .col-lg-10{width:83.33333333%;}
 .col-lg-9{width:75%;}
 .col-lg-8{width:66.66666667%;}
 .col-lg-7{width:58.33333333%;}
 .col-lg-6{width:50%;}
 .col-lg-5{width:41.66666667%;}
 .col-lg-4{width:33.33333333%;}
 .col-lg-3{width:25%;}
 .col-lg-2{width:16.66666667%;}
 .col-lg-1{width:8.33333333%;}
 .col-lg-auto{width:auto;}
 .hide-lg{display:none !important;}
 .show-lg{display:block !important;}}
@media (max-width:840px){.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2,.col-md-1,.col-md-auto{-webkit-box-flex:0;-webkit-flex:none;-moz-box-flex:0;-ms-flex:none;flex:none;}
 .col-md-12{width:100%;}
 .col-md-11{width:91.66666667%;}
 .col-md-10{width:83.33333333%;}
 .col-md-9{width:75%;}
 .col-md-8{width:66.66666667%;}
 .col-md-7{width:58.33333333%;}
 .col-md-6{width:50%;}
 .col-md-5{width:41.66666667%;}
 .col-md-4{width:33.33333333%;}
 .col-md-3{width:25%;}
 .col-md-2{width:16.66666667%;}
 .col-md-1{width:8.33333333%;}
 .col-md-auto{width:auto;}
 .hide-md{display:none !important;}
 .show-md{display:block !important;}}
@media (max-width:600px){.col-sm-12,.col-sm-11,.col-sm-10,.col-sm-9,.col-sm-8,.col-sm-7,.col-sm-6,.col-sm-5,.col-sm-4,.col-sm-3,.col-sm-2,.col-sm-1,.col-sm-auto{-webkit-box-flex:0;-webkit-flex:none;-moz-box-flex:0;-ms-flex:none;flex:none;}
 .col-sm-12{width:100%;}
 .col-sm-11{width:91.66666667%;}
 .col-sm-10{width:83.33333333%;}
 .col-sm-9{width:75%;}
 .col-sm-8{width:66.66666667%;}
 .col-sm-7{width:58.33333333%;}
 .col-sm-6{width:50%;}
 .col-sm-5{width:41.66666667%;}
 .col-sm-4{width:33.33333333%;}
 .col-sm-3{width:25%;}
 .col-sm-2{width:16.66666667%;}
 .col-sm-1{width:8.33333333%;}
 .col-sm-auto{width:auto;}
 .hide-sm{display:none !important;}
 .show-sm{display:block !important;}}
@media (max-width:480px){.col-xs-12,.col-xs-11,.col-xs-10,.col-xs-9,.col-xs-8,.col-xs-7,.col-xs-6,.col-xs-5,.col-xs-4,.col-xs-3,.col-xs-2,.col-xs-1,.col-xs-auto{-webkit-box-flex:0;-webkit-flex:none;-moz-box-flex:0;-ms-flex:none;flex:none;}
 .col-xs-12{width:100%;}
 .col-xs-11{width:91.66666667%;}
 .col-xs-10{width:83.33333333%;}
 .col-xs-9{width:75%;}
 .col-xs-8{width:66.66666667%;}
 .col-xs-7{width:58.33333333%;}
 .col-xs-6{width:50%;}
 .col-xs-5{width:41.66666667%;}
 .col-xs-4{width:33.33333333%;}
 .col-xs-3{width:25%;}
 .col-xs-2{width:16.66666667%;}
 .col-xs-1{width:8.33333333%;}
 .col-xs-auto{width:auto;}
 .hide-xs{display:none !important;}
 .show-xs{display:block !important;}}
.panel{border:0.05rem solid #dadee4;-webkit-border-radius:0.1rem;-moz-border-radius:0.1rem;border-radius:0.1rem;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
.panel .panel-header,.panel .panel-footer{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding:0.8rem;}
.panel .panel-nav{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;}
.panel .panel-body{-webkit-box-flex:1;-webkit-flex:1 1 auto;-moz-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;overflow-y:auto;padding:0 0.8rem;}
.d-block{display:block;}
.d-inline{display:inline;}
.d-inline-block{display:inline-block;}
.d-flex{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;}
.d-inline-flex{display:-webkit-inline-box;display:-webkit-inline-flex;display:-moz-inline-box;display:-ms-inline-flexbox;display:inline-flex;}
.d-none,.d-hide{display:none !important;}
.d-visible{visibility:visible;}
.d-invisible{visibility:hidden;}
.text-hide{background:transparent;border:0;color:transparent;font-size:0;line-height:0;text-shadow:none;}
.text-assistive{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.divider,.divider-vert{display:block;position:relative;}
.divider[data-content]::after,.divider-vert[data-content]::after{background:#fff;color:#bcc3ce;content:attr(data-content);display:inline-block;font-size:0.7rem;padding:0 0.4rem;-webkit-transform:translateY(-0.65rem);-moz-transform:translateY(-0.65rem);-ms-transform:translateY(-0.65rem);-o-transform:translateY(-0.65rem);transform:translateY(-0.65rem);}
.divider{border-top:0.05rem solid #f1f3f5;height:0.05rem;margin:0.4rem 0;}
.divider[data-content]{margin:0.8rem 0;}
.divider-vert{display:block;padding:0.8rem;}
.divider-vert::before{border-left:0.05rem solid #dadee4;bottom:0.4rem;content:"";display:block;left:50%;position:absolute;top:0.4rem;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);}
.divider-vert[data-content]::after{left:50%;padding:0.2rem 0;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.loading{color:transparent !important;min-height:0.8rem;pointer-events:none;position:relative;}
.loading::after{-webkit-animation:loading 500ms infinite linear;-moz-animation:loading 500ms infinite linear;-o-animation:loading 500ms infinite linear;animation:loading 500ms infinite linear;border:0.1rem solid #5755d9;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border-right-color:transparent;border-top-color:transparent;content:"";display:block;height:0.8rem;left:50%;margin-left:-0.4rem;margin-top:-0.4rem;position:absolute;top:50%;width:0.8rem;z-index:1;}
.loading.loading-lg{min-height:2rem;}
.loading.loading-lg::after{height:1.6rem;margin-left:-0.8rem;margin-top:-0.8rem;width:1.6rem;}
.clearfix::after{clear:both;content:"";display:table;}
.float-left{float:left !important;}
.float-right{float:right !important;}
.p-relative{position:relative !important;}
.p-absolute{position:absolute !important;}
.p-fixed{position:fixed !important;}
.p-sticky{position:-webkit-sticky !important;position:sticky !important;}
.p-centered{display:block;float:none;margin-left:auto;margin-right:auto;}
.flex-centered{-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.m-0{margin:0 !important;}
.mb-0{margin-bottom:0 !important;}
.ml-0{margin-left:0 !important;}
.mr-0{margin-right:0 !important;}
.mt-0{margin-top:0 !important;}
.mx-0{margin-left:0 !important;margin-right:0 !important;}
.my-0{margin-bottom:0 !important;margin-top:0 !important;}
.m-1{margin:0.2rem !important;}
.mb-1{margin-bottom:0.2rem !important;}
.ml-1{margin-left:0.2rem !important;}
.mr-1{margin-right:0.2rem !important;}
.mt-1{margin-top:0.2rem !important;}
.mx-1{margin-left:0.2rem !important;margin-right:0.2rem !important;}
.my-1{margin-bottom:0.2rem !important;margin-top:0.2rem !important;}
.m-2{margin:0.4rem !important;}
.mb-2{margin-bottom:0.4rem !important;}
.ml-2{margin-left:0.4rem !important;}
.mr-2{margin-right:0.4rem !important;}
.mt-2{margin-top:0.4rem !important;}
.mx-2{margin-left:0.4rem !important;margin-right:0.4rem !important;}
.my-2{margin-bottom:0.4rem !important;margin-top:0.4rem !important;}
.p-0{padding:0 !important;}
.pb-0{padding-bottom:0 !important;}
.pl-0{padding-left:0 !important;}
.pr-0{padding-right:0 !important;}
.pt-0{padding-top:0 !important;}
.px-0{padding-left:0 !important;padding-right:0 !important;}
.py-0{padding-bottom:0 !important;padding-top:0 !important;}
.p-1{padding:0.2rem !important;}
.pb-1{padding-bottom:0.2rem !important;}
.pl-1{padding-left:0.2rem !important;}
.pr-1{padding-right:0.2rem !important;}
.pt-1{padding-top:0.2rem !important;}
.px-1{padding-left:0.2rem !important;padding-right:0.2rem !important;}
.py-1{padding-bottom:0.2rem !important;padding-top:0.2rem !important;}
.p-2{padding:0.4rem !important;}
.pb-2{padding-bottom:0.4rem !important;}
.pl-2{padding-left:0.4rem !important;}
.pr-2{padding-right:0.4rem !important;}
.pt-2{padding-top:0.4rem !important;}
.px-2{padding-left:0.4rem !important;padding-right:0.4rem !important;}
.py-2{padding-bottom:0.4rem !important;padding-top:0.4rem !important;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-justify{text-align:justify;}
.text-lowercase{text-transform:lowercase;}
.text-uppercase{text-transform:uppercase;}
.text-capitalize{text-transform:capitalize;}
.text-normal{font-weight:normal;}
.text-bold{font-weight:bold;}
.text-italic{font-style:italic;}
.text-large{font-size:1.2em;}
.text-ellipsis{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;}
.text-clip{overflow:hidden;-o-text-overflow:clip;text-overflow:clip;white-space:nowrap;}
.text-break{-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;word-break:break-word;word-wrap:break-word;}
@-webkit-keyframes loading{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
 100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@-moz-keyframes loading{0%{-moz-transform:rotate(0deg);transform:rotate(0deg);}
 100%{-moz-transform:rotate(360deg);transform:rotate(360deg);}}
@-o-keyframes loading{0%{-o-transform:rotate(0deg);transform:rotate(0deg);}
 100%{-o-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes loading{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
 100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}}
@-webkit-keyframes slide-down{0%{opacity:0;
  -webkit-transform:translateY(-1.6rem);
      transform:translateY(-1.6rem);}
 100%{opacity:1;
  -webkit-transform:translateY(0);
      transform:translateY(0);}}
@-moz-keyframes slide-down{0%{opacity:0;
  -moz-transform:translateY(-1.6rem);
     transform:translateY(-1.6rem);}
 100%{opacity:1;
  -moz-transform:translateY(0);
     transform:translateY(0);}}
@-o-keyframes slide-down{0%{opacity:0;
  -o-transform:translateY(-1.6rem);
    transform:translateY(-1.6rem);}
 100%{opacity:1;
  -o-transform:translateY(0);
    transform:translateY(0);}}
@keyframes slide-down{0%{opacity:0;
  -webkit-transform:translateY(-1.6rem);
    -moz-transform:translateY(-1.6rem);
     -o-transform:translateY(-1.6rem);
      transform:translateY(-1.6rem);}
 100%{opacity:1;
  -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
     -o-transform:translateY(0);
      transform:translateY(0);}} /* mB v5.04.36 on 2019-04-27T20:58:38.761Z */