head
    link(rel='stylesheet', href='/c.css')
    // https://codepen.io/daviddarnes/pen/mDBLJ
body
    header.header-nav
    input#sub-nav(type="checkbox")
    #navigation-links
        label.sub-nav-toggle(for="sub-nav")
        span
        a.nav-item(href="#") Nav Item 1
        a.nav-item(href="#") Nav Item 2
    nav#sub-navigation
        a.nav-item(href="#") Sub Nav Item 1
        a.nav-item(href="#") Sub Nav Item 2
        a.nav-item(href="#") Sub Nav Item 3
        a.nav-item(href="#") Sub Nav Item 4
