
@import '../minireset';


*, html, body {
    font-kerning: normal; // enables kerning
    margin: 0;
    padding: 0;
    font-smooth: antialiased;
}

// font goal is ~15px * line height
$baseVR: calc((14px + .2vmin ) * 1.4);

// shared large text size
%txt-large {
    line-height: $baseVR;
    font-size:   calc(#{$baseVR} * .78 );
    font-weight: 400;
}

// shared smaller text size
%shared-font-size {
    line-height: $baseVR;
    font-size: calc(#{$baseVR} * .65);
    font-weight: 300;
}


// ------------------------------------------------------------------
//  Core Styles of Min
// ------------------------------------------------------------------
@import '__var-lib.scss',
        'general.scss';


// ------------------------------------------------------------------
//  Customize Optional Components
//
//  Set undesired components to false to exclude them from
//  the final Min CSS output.
// ------------------------------------------------------------------
$import-headings:                         true !default;

$import-buttons:                          true !default;

$import-forms:                            true !default;

$import-navbar:                           true !default;

$import-tables:                           true !default;

$import-messages:                         true !default;

$import-icons:                            false !default;

$import-grid:                             true !default;

$import-messages:                         true !default;




// ------------------------------------------------------------------
//  Import Components based on above customization
// ------------------------------------------------------------------
@import 'button',
        'grid',
        'headings',
        'icons',
        'forms',
        'navbar',
        'table',
        'messages';

//  ////////////////
pre, code {
    font-size: 13px;
    font-family: monospace, monospace;
    line-height: 1.1em;
    background: hsl(220, 80%, 90%); 
    padding-left: 5px;
    padding-bottom: 1em;
}
    


@import '../mvr';
