
@import '../minireset';

// font goal is ~15px * line height
$baseVR: calc((14px + .2vmin ) * 1.4);

*, html, body {
    line-height: $baseVR;
    vertical-align:baseline;
    font-smooth: antialiased;
    font-kerning: normal; // enables kerning
}


// ------------------------------------------------------------------
//  Core Styles of Min
// ------------------------------------------------------------------
@import '__var-lib.scss',
        'general.scss';

// ------------------------------------------------------------------
//  Customize Optional Components

$import-buttons:                          true !default;
$import-forms:                            true !default;
$import-navbar:                           true !default;
$import-tables:                           true !default;
$import-messages:                         true !default;
$import-icons:                            false !default;
$import-grid:                             true !default;
$import-messages:                         true !default;

// ------------------------------------------------------------------
//  Import Components based on above customization
// ------------------------------------------------------------------
@import 'button',
        'grid',
        'icons',
        'forms',
        'navbar',
        'table',
        'messages';

//  ////////////////
pre, code {
    font-family: monospace, monospace;
    background: hsl(220, 80%, 90%); 
    padding-left: 5px;
}

@import '../mvr';

@import '../gridforms';
