
script(src='https://1490415816.rsc.cdn77.org/lib/gmetrics.min.js')

title #{title}
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')


// load fonts
link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400&display=swap")
<link href="https://fonts.googleapis.com/css?family=Marmelad&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700i&display=swap" rel="stylesheet">

link(rel='stylesheet', href='/css/global.css')

style.
   html { touch-action: manipulation; }
   .delayShowing { opacity: 0; }
   .blur { -webkit-filter:blur(2px);filter:blur(2px); }
