
<head>
  <script src="https://1490415816.rsc.cdn77.org/lib/gmetrics.js"></script>
  <title>Example Pug</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- load fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400&amp;display=swap"/><link href="https://fonts.googleapis.com/css?family=Marmelad&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/global.css"/>
  <style>
    html { touch-action: manipulation; }
    .delayShowing { opacity: 0; }
    .blur { -webkit-filter:blur(2px);filter:blur(2px); }
  </style>
</head>
<body>
  <h4 class="navBar">
    <input class="hamBurger" type="checkbox"/>
    <div class="nav">
      <h3 class="navBrand">Brand</h3>
      <h4 class="nav-item">Nav 1
        <div class="nav-sub-item">Sub 1</div>
        <div class="nav-sub-item">Sub 2</div>
        <div class="nav-sub-item">Sub 3</div>
      </h4>
      <h4 class="nav-item">Nav 2</h4>
      <h4 class="nav-item">Nav 3</h4>
      <h4 class="nav-item">Nav 4</h4>
      <h4 class="nav-item">Nav 5
        <div class="nav-sub-item">Sub 4</div>
        <div class="nav-sub-item">Sub 5</div>
        <div class="nav-sub-item">Sub 6</div>
      </h4>
    </div>
  </h4>
  <div class="container">
    <p> is simply dummy text ith the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <h1>1 Why do we develop software?</h1>
    <h1>1 ok now is simply dummy text of the printing and typesetting industry.</h1>
    <h2>2 ok now is simply dummy text of the printing and typesetting industry.</h2>
    <h2>2 ok now</h2>
    <h3>3 so long is simply dummy text of the printing and typesetting industry. now is simply dummy text of the printing and typesetting industr</h3>
    <h3>3 so long</h3>
    <h4>4 bla bla as is simply dummy text of the printing and typesetting industry.</h4>
    <h4>4 bla bla as</h4>
    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <h5>5 same</h5>
    <h6>6 can you hear me now</h6>
    <h6>so long is simply dummy text of the printing and typesetting industry. kjkjso long is simply dummy text of the printing and typesetting industry. so long is simply dummy text of the printing and typesetting industry. so long is simply dummy text of the printing and typesetting industry. so long is simply dummy text of the printing and typesetting industry.</h6>
    <hr/>
    <h3>3can be used?</h3>
    <h4>4 Vic Cekvenich</h4>
    <p>Yesterday I was blue about</p>
    <h6>and they said so what</h6>
    <form class="grid-form" id="f1">
      <fieldset>
        <legend>Form Section</legend>
        <div data-row-span="2">
          <div data-field-span="1">
            <label>Field 1</label>
            <input type="text"/>
          </div>
          <div data-field-span="1">
            <label>Field 2</label>
            <input type="text"/>
          </div>
        </div>
      </fieldset>
    </form>
    <p></p><br/><a class="btn btn-b smooth">btn-b</a><a class="btn btn-b smooth">btn-b</a>
    <p></p><br/>
    <p></p><a class="btn btn-b btn-sm smooth">btn-sm</a><a class="btn btn-b btn-sm smooth">btn-sm</a>
    <p></p><br/>
    <hr/>
    <p></p><b></b>
    <script>console.log('oh hi')</script>
  </div>
<!-- mB v8.2.9 on 2020-03-07T03:28:52.267Z --></body>