
<head>
  <script src="https://1490415816.rsc.cdn77.org/lib/gmetrics.js"></script>
  <title>Example Pug</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- load fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400&amp;display=swap"/><link href="https://fonts.googleapis.com/css?family=Marmelad&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/global.css"/>
  <style>
    html { touch-action: manipulation; }
    .delayShowing { opacity: 0; }
    .blur { -webkit-filter:blur(2px);filter:blur(2px); }
  </style>
</head>
<body>   
  <header>
    <div class="navBar">
      <input class="hamBurger" type="checkbox"/>
      <div class="nav__wrapper">
        <h3 class="navBrand"> <a href="/">Brand</a></h3>
        <ul class="nav">
          <li class="nav-item"> <a href="/pages/docs/">Docs</a></li>
          <li class="nav-item"> <a href="/pages/api/">API</a></li>
          <li class="nav-item"> <a href="/pages/help/">Help</a></li>
          <li class="nav-item"> <a href="/pages/blog/">Blog</a>
            <ul class="nav nav__submenu">
              <li class="nav__submenu-item"> <a href="#">Sub 1</a></li>
              <li class="nav__submenu-item"><a href="#">Sub 2</a></li>
              <li class="nav__submenu-item"><a href="#">Sub 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <section>landing page heres</section>
  </div>
<!-- mB v8.3.0 on 2020-03-26T08:58:46.124Z --></body>