
<head>
  <script src="https://1490415816.rsc.cdn77.org/lib/gmetrics.js"></script>
  <title>Example Pug</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- load fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400&amp;display=swap"/><link href="https://fonts.googleapis.com/css?family=Marmelad&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/global.css"/>
  <style>
    html { touch-action: manipulation; }
    .delayShowing { opacity: 0; }
    .blur { -webkit-filter:blur(2px);filter:blur(2px); }
  </style>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="navBar">
        <input class="hamBurger" type="checkbox"/>
        <div class="nav">
          <h3 class="navBrand">Brand</h3>
          <h4 class="nav-item"> <a href="/pages/docs/">Docs</a></h4>
          <h4 class="nav-item"> <a href="/pages/api/">API</a></h4>
          <h4 class="nav-item"> <a href="/pages/help/">Help</a></h4>
          <h4 class="nav-item"> <a href="/pages/blog/">Blog</a>
            <div class="nav-sub-item">Sub 1</div>
            <div class="nav-sub-item">Sub 2</div>
            <div class="nav-sub-item">Sub 3</div>
          </h4>
        </div>
      </div>
    </header>
  </div>
  <div class="container">
    <section>landing page here</section>
  </div>
<!-- mB v8.3.0 on 2020-03-13T13:49:06.506Z --></body>