head
    include headFrag

body
    h4.navBar
        input.hamBurger(type="checkbox")
        .nav
            h3.navBrand Brand
            h4.nav-item Nav 1
                .nav-sub-item Sub 1
                .nav-sub-item Sub 2
                .nav-sub-item Sub 3
            h4.nav-item Nav 2
            h4.nav-item Nav 3
            h4.nav-item Nav 4
            h4.nav-item Nav 5
                .nav-sub-item Sub 4
                .nav-sub-item Sub 5
                .nav-sub-item Sub 6

    .container
        p  is simply dummy text ith the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        h1 1 Why do we develop software?
        h1 1 ok now is simply dummy text of the printing and typesetting industry.
        h2 2 ok now is simply dummy text of the printing and typesetting industry.
        h2 2 ok now
        h3 3 so long is simply dummy text of the printing and typesetting industry. now is simply dummy text of the printing and typesetting industr
        h3 3 so long

        h4 4 bla bla as is simply dummy text of the printing and typesetting industry.
        h4 4 bla bla as
        p  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        h5 5 same
        h6 6 can you hear me now
        h6 so long is simply dummy text of the printing and typesetting industry. kjkjso long is simply dummy text of the printing and typesetting industry. so long is simply dummy text of the printing and typesetting industry. so long is simply dummy text of the printing and typesetting industry. so long is simply dummy text of the printing and typesetting industry.

        hr

        h3 3can be used?
        h4 4 Vic Cekvenich
        p Yesterday I was blue about
        h6 and they said so what

        form.grid-form#f1
            fieldset
                legend Form Section
                div(data-row-span='2')
                    div(data-field-span='1')
                        label Field 1
                        input(type='text')
                    div(data-field-span='1')
                        label Field 2
                        input(type='text')


        p
        br
        a.btn.btn-b.smooth btn-b
        a.btn.btn-b.smooth btn-b
        p
        br
        p
        a.btn.btn-b.btn-sm.smooth btn-sm
        a.btn.btn-b.btn-sm.smooth btn-sm

        p
        br
        hr

        p
        b
        script.
            console.log('oh hi')


