html
  head
    include headFrag

  body    
    include ./includes/top_nav
    .container
      block container

    footer.footer
      .footer__content
        div
          .logo
            img(src="",data-src="holder.js/100x100?theme=placeholder", alt="")
        div
          .footer__links
            a(href="#") Docs
            a(href="#") Docs
            a(href="#") Docs
            a(href="#") Docs
        div
          .footer__links
            a(href="#") Docs
            a(href="#") Docs
            a(href="#") Docs
            a(href="#") Docs
        div
          .footer__links
            a(href="#") Docs
            a(href="#") Docs
            a(href="#") Docs
            a(href="#") Docs
        .copyright
          | Copyright @ 2020 Your Name or Your Company Name


    script(src="/js/holder.min.js")
    script. 
      Holder.addTheme("placeholder", { bg: "#f5e6cc", fg: "#b7aa97", text: "Placeholder" });
      Holder.addTheme("placeholder2", { bg: "#e9a07b", fg: "#bb846a", text: "Placeholder" });