footer
    a(href="/").brand Metabake
    .container.footer-1.grid-xl
        .foot-soc 
            include social.pug
        .wide-letters
            | &#169; 2019 
            a(href='https://github.com/metabake')  Metabake
            |  All Rights Reserved
        a.scroll-to-top#scroll-to-top(href='#')
            .arrow.icono-upArrow
        
