.social-icons.d-flex
    //- a(href='#')
    //-     include ../assets/img/svg/linkedin-logo.svg
    //- a(href='#')
    //-     include ../assets/img/svg/twitter-logo.svg
    //- a(href='#')
    //-     include ../assets/img/svg/youtube-play-button.svg
    a(href='https://github.com/metabake')
        include ../assets/img/svg/github.svg