head
   meta(name='viewport', content='width=device-width, initial-scale=1')

   link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
   link(href= ROOT + '/assets/css/spectre.css', rel='stylesheet')
   link(href= ROOT + '/assets/css/main.css',  rel='stylesheet')

body
   link(href='https://fonts.googleapis.com/css?family=Playfair+Display', rel='stylesheet')


   style.
      .mainBack {
         background-image: url(img.jpg);
      }


   .mainBack
      include nav
      br
      H1.flex.white.fLarge.fBod Metabake Org
   .trans
   br
   .pad
      H1.cAccent.line.fBod About Us
      h5.copy Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.


   //link(href= ROOT + '/assets/css/debug.css', rel='stylesheet')


