head
   script(src='https://cdn.jsdelivr.net/npm/gmetrics-intu@0.11.21/webApp/lib/gmetrics.min.js')

   include headFrag
   link(rel='stylesheet', href='/assets/css/bootstrapTop.css')
   link(rel='stylesheet', href='/assets/css/bootstrap.css')
   link(rel='stylesheet', href='/assets/css/custom.css')

   block head2
body
   script(src='/assets/ui-loader.js')
   .container
      include navbar

   block main

   include footer
