head
   meta(name='viewport', content='width=device-width, initial-scale=1')

   link(href= 'spectreBar.css', rel='stylesheet')
   link(href= 'navbar.css', rel='stylesheet')

   link(href= 'ex.css',  rel='stylesheet')

body
   link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
   link(href='https://fonts.googleapis.com/css?family=Playfair+Display', rel='stylesheet')

   ul.nav(data-function='navbar')
      li
         a(href='#') Item 1
      li
         a(href='#') Item 2
      li
         a(href='#') Item 3
         ul
            li
               a(href='#') Item 3/1
            li
               a(href='#') Item 3/2

   script(src='https://cdn.rawgit.com/thednp/navbar.js/master/dist/navbar.min.js')
   script.
      new Navbar('.nav');
