header
   .navBar
      input.hamBurger(type="checkbox")
      .nav__wrapper
         h3.navBrand 
            a(href="/") Brand
         ul.nav
            li.nav-item 
               a(href="/pages/docs/") Docs
            li.nav-item 
               a(href="/pages/api/") API
            li.nav-item 
               a(href="/pages/help/") Help
            li.nav-item 
               a(href="/pages/blog/") Blog
               ul.nav.nav__submenu
                  li.nav__submenu-item 
                     a(href="#") Sub 1
                  li.nav__submenu-item
                     a(href="#") Sub 2
                  li.nav__submenu-item
                     a(href="#") Sub 3