header
   .navBar
      input.hamBurger(type="checkbox")
      .nav
         h3.navBrand Brand
         h4.nav-item 
            a(href="/pages/docs/") Docs
         h4.nav-item 
            a(href="/pages/api/") API
         h4.nav-item 
            a(href="/pages/help/") Help
         h4.nav-item 
            a(href="/pages/blog/") Blog
            .nav-sub-item Sub 1
            .nav-sub-item Sub 2
            .nav-sub-item Sub 3