extends /layout/_layout
//- App Shell

block head
	//static binding ex:
	title #{title}

block main
	p
	.ui.text.container
		include module1

	script.
		loadjs.ready('style', function () {
			console.info('page 1 script here')
		})

