script.
   
   //- for comps, but it is also in scope for Pug for ENV logic

title #{title}
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')









