doctype html
html
   head
      //<script src="https://console.re/connector.js" data-channel="MY_NAME" id="consolerescript"></script>
      script.
         ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
         console.log('root','#{ROOT}')
         let _start=Date.now()
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Metabake
      link(rel='shortcut icon', href= ROOT + '/assets/favicon.png', type='image/x-icon')
      script(src='https://cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.js')
      style.
         .delayShowing { opacity: 0.01; }

      //link(href= ROOT + '/assets/css/debug.css', rel='stylesheet')

   body
      script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
      script(src= ROOT + '/assets/js/setup.js')

      nav#topMenu.delayShowing.columns.is-mobile.is-gapless.glow
         .column.left.truncate-ellipsis
            .pad.has-text-weight-bold.has-text-white.is-size-4.Dido MetaBake.org

         .column.right
            a.is-hidden-touch.navbar-item(href= ROOT + '#about') About Us
            a.is-hidden-touch.navbar-item(href= ROOT + '#services') Services
            a.is-hidden-touch.navbar-item(href= ROOT + '#team') Team
            a.is-hidden-touch.navbar-item(href= ROOT + '#contact') Contact Us

            a#off-cbut.js-offcanvas-trigger( href='#off-canvas')
               i.icon(data-vi='menu', data-vi-size='28', data-vi-primary="#FFF", data-vi-accent="#FFF", data-vi-prop="#FFF")

      .c-offcanvas-content-wrap
         #router
            block main

      #off-canvas.delayShowing
         .pad &nbsp;
         br
         ul.menu-list#offItems.has-text-black
            li
               a(href=ROOT + '#about') About Us
            li
               a(href= ROOT + '#services') Services
            li
               a(href=ROOT + '#team') Team
            li
               a(href= ROOT + '#contact') Contact Us


      link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet')
      link(href='https://fonts.googleapis.com/css?family=Antic+Didone', rel='stylesheet')

      link(href= ROOT + '/assets/css/bulma.css', rel='stylesheet')
      link(href= ROOT + '/assets/css/main.css', rel='stylesheet', onload='cssLoaded()')

      script.
         function userSzSc() {
            console.log('resize|scroll')
         }
