
feed-tag
   .flex
      <virtual each={ items}>
         a.flexItem(href='{url}')

            .card.item
               .card-image
                  figure.image
                     img.cardImg(src= '{image}')
               .card-content
                  .media
                     .media-left
                        figure.image.is-48x48
                           img( src= '{ author.avatar }' )
                     .media-content
                        p.title.is-5 {content_text}
                        p.subtitle.is-6 { author.name }

      </virtual>

      //used by observer
      #add
         p

   // http://css-tricks.com/snippets/css/complete-guide-grid/
   style.
      .item {
         width: 300px;
         margin: 5px;
         height: 610px;
      }
      .cardImg {
         height: 300px !important;
         object-fit: cover;
      }
      .subtitle {
         margin-bottom: .5rem !important;
      }

   script.
      this.on('*', function(evt) {
         //console.log('riot', evt)
      })

      this.items = []
      this.feed =[]
      thiz = this

      init()

      function init() {
         console.log('init')
         thiz.items = []
         thiz.feed =[]
         fetch(ROOT+'/blog/items.json').then(function(resp) {
            return resp.json()
         }).then(function(json) {
            feed = json
            console.log('r ready')
            setup()
            add(2)

            thiz.observer = new IntersectionObserver(function(e){
               if(e[0].isIntersecting) {
                  console.log('I can see the end')
                  add(2) // :-)
               }//fi
            })// observer event
            thiz.observer.observe(thiz.addEl)
         })// fetch
      }//init

      addFew(c) {// public
         add(c)
      }

      function setup() {
         thiz.addEl = document.getElementById('add')
         console.log(thiz.addEl)
         thiz.feed = feed.items
         for(let item of thiz.feed) {
            item.url = ROOT + '/blog/' + item.url +'/'
            item.image =  item.image
            console.log(item.image)
         }
      }

      function add(c) {
         console.log('add',c)
         // loop c times
         var i
         for (i = 0; i < c; i++) {
            if(thiz.feed[0] ) //more
               thiz.items.push( thiz.feed.pop())
         }
         thiz.update()

        // can I see end? add!
         if(inView(thiz.addEl) && thiz.feed[0] ) //more
            add(1)

      }//add



